<div class="container">
  <div class="row">
    <div class="col-md-10">
      <footer role="contentinfo">
        <p><small>Copyright &copy; Timur Radzhabov</small></p>
      </footer>
    </div>
  </div>
</div>