<table class="table table-striped">
  <thead>
  <tr>
    <th>Duration (min)</th>
    <th>Workout details</th>
    <th>Activity date</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.duration_in_min %></td>
        <td><%= truncate(exercise.workout, length: 100) %></td>
        <td><%= exercise.workout_date %></td>
        <td><%= link_to 'Show', [current_user, exercise] %></td>
        <td><%= link_to 'Edit', [:edit, current_user, exercise]
        %></td>
        <td><%= link_to 'Destroy', [current_user, exercise],
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= content_tag :div,"", id: "chart", data: {workouts: @exercises } %>
<br>