<div class="jumbotron">
  <h1>Workout Lounge!</h1>
  <p>Show off your workout to your friends as much as possible</p>
</div>
<div class="col-md-10">
  <h2>List  of Members</h2>
  <%= will_paginate @athletes, render: BootstrapPagination::Rails, class: "pull_left paginate"  %>
</div>

<div class="row">
  <% @athletes.each do |athlete|  %>
    <div class="col-md-10 well member">
      <%= athlete.full_name %>
      <% if current_user %>
        <%= link_to "Follow", friendships_path(friend_id: athlete.id),
          method: :post, class: "btn btn-success pull-right" unless current_user.follows_or_same?(athlete) %>
      <% end %>
    </div>
  <% end %>
</div>