<div class="row search-result">
  <% @athletes.each do |athlete| %>
    <div class="col-md-10 col-md-2">
      <%= athlete.full_name %>
    </div>
  <% end %>
</div>


<%= will_paginate @athletes, render: BootstrapPagination::Rails  %>
