<h1 class="text-center">New exercise for <%= current_user.full_name %></h1>
<%= render 'form' %>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-10 col-md-offser-2">
      <%= link_to 'Back', user_exercises_path, class: 'btn-default link', id: 'new-exer-btn' %>
    </div>
  </div>
</div>