<!DOCTYPE html>
<html>
  <head>
    <title>Whydoes9afraidof7</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
<%= render 'share/header' %>


  <%= render 'share/main' %>

  <%= render 'share/footer' %>


  </body>
</html>
